<form action="/course/add" method="post">
    <label> Course name </label><input value="" name="CourseName">
    <label> Course Duation </label><input value="" name="CourseDuration">
    <button type="submit">Add Course</button>
</form>